# Python
*.py[cod]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Project files
.idea
.project
.psproj(ect)?
.pydevproject
.nppproj

# Test script
test.py

# Output files
*.chart
